@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar ul {
  transition: all 1s;
}

.btn {
  @apply w-[120px] h-[48px] flex items-center justify-center rounded-[8px] text-white font-bold text-sm
}

.gradient {
  @apply bg-gradient-to-r from-secondary to-primary
}

.react-calendar__navigation {
  @apply flex justify-between
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  @apply hidden
}

.react-calendar__month-view__days__day--neighboringMonth {
  /* display: none; */
  opacity: 0;
}

.react-calendar__tile.react-calendar__month-view__days__day:disabled {
  opacity: 0.5;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.react-calendar__month-view__days {
  row-gap: 20px;
  margin-top: 20px;
}

.react-calendar__month-view__days abbr:where([title]) {
  border-bottom: none !important;
  text-decoration: none !important;
}